body {
    background: url("assets/typing-bg-1920x1080.png") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    height: 100vh;
    font-family: 'Merriweather', serif;
    color: white !important;
    overflow: hidden;
}

header {
    padding: 5px 0;
    margin-bottom: 20px;
    position: sticky;
    text-align: center;
    font-family: 'Stoke', serif;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
}
header button {
    border: none;
    background-color: transparent;
    position: fixed;
    top: 60px;
    left: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
}

.container {
    margin: auto;
}

.rules-section {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    color: black;
    overflow-x: hidden;
    transition: 0.2s ease-in;
    padding: 20px 15px;
    text-align: left;
    visibility: hidden;
}
.rules-section .rules-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rules-section ol {
    font-size: 0.9rem;
}
.rules-section #close-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 30px;
  }

.analytics-section .card {
    margin: 0 10px;
    color: black !important;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-right: none;
    border-bottom: none;
    background-color: rgba(255, 255, 255, 0.85);
}
.analytics-section .card-title {
    font-weight: 520;
}

.row {
    display: flex;
    align-items: center;
}
.row h6, .row h5{
    margin: 0;
    padding: 0;
}

.scoreDown{
    color: red;
}
.scoreUp{
    color: green;
}

.content-section {
    height: 170px;
    margin: 30px auto;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-right: none;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
}
.content-info {
    font-size: 1.6rem;
    font-weight: 300;
}
.content-section p:nth-of-type(1) {
    font-size: 1.4rem;
}

#content {
    height: 120px;
    overflow: hidden;
}

.typing-section {
    margin: 20px auto;
}
.typing-section input {
    height: 60px;
    width: 80%;
    margin-bottom: 20px;
    border-radius: 10px;
    font-size: 1.4rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(4px);
}
.typing-section input::placeholder { 
    color: rgba(60, 60, 60, 0.8);  
}

.buttons-section {
    margin: 0 auto;
}

.icon-image {
    height: 23px;
}

#certificateModal {
    color: black !important;
}

.form-input {
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

.active-word {
    background-color: white;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.correctCharacter {
    color: rgba(113, 240, 166, 0.664) !important;
    font-weight: 200;
}

.wrongCharacter {
    color: rgba(250, 60, 60, 0.85) !important;
    font-weight: 600;
}

/* Countdown Timer */
.timer {
    margin-top: 10px;
    /* width: 200px;
    height: 200px; */
}
  
.timer > svg {
    width: 200px;
    height: 200px;
}

.timer > svg > circle {
    fill: none;
    stroke-opacity: 0.3;
    stroke: #0d6efd;
    stroke-width: 10;
    transform-origin: center center;
    transform: rotate(-90deg);
}

.timer > svg > circle + circle {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    stroke-linecap: round;
    stroke-opacity: 1;
}

.timer.animatable > svg > circle + circle {
    transition: stroke-dashoffset 0.3s ease;
}

.timer > svg > text {
    font-size: 2rem;
}

.timer > svg > text + text {
    font-size: 0.8rem;
}


@media screen and (max-width: 1200px){
    .analytics-section .card-body {
        padding: 0.7rem;
    }

    .timer > svg{
        width: 175px;
        height: 175px;
    }
    .timer > svg > circle {
        r: 75;
    }
}